*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.spl
*.synctex.gz
*.bbl
*.bcf
*.blg
*.pyc
*.pyd
venv/
*.xml
*.iml
.idea/
tests/bayes_take_40_01152020.ipynb
tests/bayes_take_41_01152020.ipynb
11182019-data
*.ipynb
*.pdf
*.docx
present/
writeup/
